nav.navbar { 
	background-color: transparent;
	border-radius: 0;
	color: white;
	margin-bottom: 0;
	box-shadow: 0 4px 2px -2px gray;
	a {
		color: white;
	}

	.pull-left {
		img {
			width: 50%;
		}
	}
}